body{
  background-color: black;
}
h1{
  color: white;
  font-size: 40px;
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
input{
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
}
#addBtn{
  margin-left: 10px;
}
button{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 4px;
}
ol{
  background-color: white;
  margin: 50px;
}
.delBtn{
  display: flex;
  position: relative;
  left: 400px;
}